* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

    width: 500px;
    height: 500px;
    border: 3px solid #FFC9C9;

}

.grid-container div {
    user-select: none;
}

.square {
    background-color: #f5f5f5;
}

.grid-lines {
    border: 1px solid #DADADA;
}

.test {
    background-color: bisque;
    width: 100px;
    height: 100px;
}

.sidebar {
    display: flex;
    flex-direction: column;
}